@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Sans+Pro:wght@400;600;900&display=swap');

:root {
  --text-primary: #9c6700;
  --text-dark: #000000;
  --color-primary: #ffea9e;
  --color-secondry: #7d7d7d;
  --color-light: #fff;
  --background: #fffced;
}

.link{
  text-decoration: none;
}
